* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

.container {
	max-width: 1444px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

body {
	background-color: #0b001a;
}

.header {
	background-color: #0b0121;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 120px;
	padding-right: 120px;
}
.header__container {
	display: flex;
	padding-left: 120px;
	padding-right: 120px;
}

.header__logo {
	margin-right: 300px;
}
.header__list {
	display: flex;
	gap: 32px;
}
.header__link {
	color: #ececec;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
}

.header__item {
	margin-right: 32px;
}
.header__btn1 {
	padding: 8px 20px;
	border: none;
	background-color: #ececec;
	color: black;
	border-radius: 50px;
	transition: all 0.4s ease;
	margin-right: 10px;
}
.header__btn2 {
	padding: 8px 20px;
	border: 1px solid #ececec;
	background-color: transparent;
	color: #ececec;
	border-radius: 50px;
}

.header__btn1:hover {
	padding: 8px 20px;
	border: 1px solid #ececec;
	background-color: transparent;
	color: #ececec;
	border-radius: 50px;
	transition: all 0.4s ease;
}

.header__btn2:hover {
	padding: 8px 20px;
	border: none;
	background-color: #ececec;
	color: black;
	border-radius: 50px;
}

.modern {
	background-image: url(images/hero/hero-bg-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center;
	padding-top: 170px;
	padding-bottom: 80px;
}

.modern__container {
	padding-left: 240px;
	padding-right: 240px;
}

.modern__info {
	max-width: 960px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.modern__just {
	color: #f2f4f8;
	border: 1px solid #6965a7;
	padding: 9px 19px;
	border-radius: 61.91px;
	display: inline-block;
	margin-bottom: 24px;
}

.modern__title {
	font-weight: 500;
	font-size: 80px;
	line-height: 100%;
	letter-spacing: -0.03em;
	text-align: center;
	background: linear-gradient(145.55deg, #ececec 20.35%, rgba(236, 236, 236, 0) 128.73%);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 24px;
}

.modern__text {
	color: #f2f4f8;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	text-align: center;
	margin-bottom: 24px;
}

.modern__btn1 {
	padding: 12px 24px;
	background-color: #ececec;
	color: #0b081c;
	border: none;
	border-radius: 50px;
	transition: all 0.4s ease;
	cursor: pointer;
	margin-right: 12px;
}

.modern__btn1:hover {
	border: 1px solid #ececec;
	background-color: transparent;
	color: #ececec;
}

.modern__btn2 {
	padding: 12px 24px;
	border: 1px solid #ececec;
	background-color: transparent;
	color: #ececec;
	border-radius: 50px;
	transition: all 0.4s ease;
	cursor: pointer;
	margin-bottom: 80px;
}

.modern__btn2:hover {
	background-color: #ececec;
	color: #0b081c;
	border: 1px solid #ececec;
}

.trust {
	background-color: #0b0121;
	padding-top: 80px;
	padding-bottom: 34px;
}
.trust__container {
	padding-left: 388px;
	padding-right: 388px;
}

.trust__text {
	color: #ceccd3;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0px;
	vertical-align: middle;
}
.trust__logos {
	display: flex;
	gap: 48px;
	justify-content: center;
}

.feautres {
	background-color: #0b0121;
	padding-top: 34px;
	padding-bottom: 60px;
}
.feautres__container {
	padding-left: 120px;
	padding-right: 120px;
}

.feautres__title {
	font-weight: 500;
	font-style: Medium;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: -0.32px;
	text-align: center;
	color: #ececec;
	margin-bottom: 24px;
}
.feautres__text {
	color: #ececec;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	line-height: 160%;
	letter-spacing: 0px;
	text-align: center;
	margin-bottom: 80px;
}

.feautres__boxes {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.features__boxes1 {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 60px 70px 60px 60px;
	border-radius: 26px;
	background: linear-gradient(135deg, #14002b, #0b001a);
	z-index: 1;
}

.features__boxes1-title {
	color: #ececec;
	font-weight: 500;
	font-style: Medium;
	font-size: 32px;
	line-height: 130%;
	letter-spacing: -0.16px;
	margin-bottom: 10px;
}
.features__boxes1-text {
	color: #ececec;
	max-width: 458px;
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	margin-bottom: 10px;
}
.features__boxes1-button {
	border: none;
	background-color: transparent;
	color: #ffffff;
	text-decoration: underline;
}

.feautures__boxes2 {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 60px 70px 60px 60px;
	border-radius: 26px;
	background: linear-gradient(135deg, #14002b, #0b001a);
	z-index: 1;
}
.features__boxes2-title {
	color: #ececec;
	font-weight: 500;
	font-style: Medium;
	font-size: 32px;
	line-height: 130%;
	letter-spacing: -0.16px;
	margin-bottom: 10px;
}
.features__boxes2-text {
	color: #ececec;
	max-width: 458px;
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	margin-bottom: 10px;
}
.features__boxes2-button {
	border: none;
	background-color: transparent;
	color: #ffffff;
	text-decoration: underline;
}

.hamburger {
	color: white;
	border: none;
	background-color: transparent;
	display: none;
}

.hamburger svg {
	width: 40px;
	height: 40px;
	fill: white;
}

.mobil {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.95);
	backdrop-filter: blur(6px);
	transform: translateX(100%);
	transition: transform 0.4s ease;
	z-index: 99999999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobil.active {
	transform: translateX(0);
}

.close.active {
	transform: translateX(100px);
}

.mobil-header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 24px;
}

.mobil-header__logo {
	margin-bottom: 20px;
}

.mobil-header__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.mobil.active {
	transform: translateX(0);
	background-color: black;
}

.mobil-header__link {
	color: white;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	text-decoration: none;
}

.mobil-header__btn1 {
	padding: 10px 22px;
	border: none;
	background-color: white;
	color: black;
	border-radius: 50px;
	font-size: 14px;
	cursor: pointer;
}

.close__hamburger {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	fill: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	z-index: 100000;
}
.mobil-header__btn2 {
	padding: 10px 22px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	border-radius: 40px;
	font-size: 14px;
	cursor: pointer;
}

@media (max-width: 1325px) {
	.header__item {
		display: none;
	}

	.header {
		display: flex;
		justify-content: space-between;
	}

	.header__logo {
		margin-right: 500px;
	}
	.header__btn1,
	.header__btn2 {
		display: block;
		padding: 6px 15px;
	}
	.modern {
		background-image: url(images/hero/hero-bg-img.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		background-position: center;
		padding-top: 90px;
		padding-bottom: 90px;
	}

	.modern__container {
		padding-left: 100px;
		padding-right: 100px;
	}

	.modern__info {
		max-width: 700px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.modern__just {
		color: #f2f4f8;
		border: 1px solid #6965a7;
		padding: 8px 20px;
		border-radius: 61.91px;
		display: inline-block;
		margin-bottom: 20px;
	}

	.modern__title {
		text-align: center;
		font-size: 80px;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: -2.4px;
		margin-top: 5px;
	}

	.modern__text {
		color: #f2f4f8;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		text-align: center;
		margin-bottom: 20px;
	}

	.modern__btn1 {
		padding: 10px 20px;
		background-color: #ececec;
		color: #0b081c;
		border: none;
		border-radius: 40px;
		transition: all 0.4s ease;
		cursor: pointer;
		margin-right: 10px;
	}

	.modern__btn2 {
		padding: 10px 20px;
		border: 1px solid #ececec;
		background-color: transparent;
		color: #ececec;
		border-radius: 40px;
		transition: all 0.4s ease;
		cursor: pointer;
		margin-bottom: 70px;
	}

	.modern__img {
		max-width: 960px;
		width: 100%;
		height: auto;
	}

	.trust {
		background-color: #0b0121;
		padding-top: 80px;
		padding-bottom: 34px;
	}
	.trust__container {
		padding-left: 388px;
		padding-right: 388px;
	}

	.trust__text {
		max-width: 350px;
		color: #ceccd3;
		font-weight: 300;
		font-size: 14px;
		line-height: 135%;
		margin-bottom: 25px;
	}
	.trust__logos {
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
	}

	.feautres {
		background-color: #0b0121;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.feautres__container {
		padding-left: 120px;
		padding-right: 120px;
	}

	.feautres__title {
		font-size: 40px;
		line-height: 120%;
		margin-bottom: 20px;
	}

	.feautres__text {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 60px;
	}

	.feautres__boxes {
		flex-direction: column;
	}

	.features__boxes1 {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 70px 60px 60px;
		border-radius: 26px;
		background: linear-gradient(135deg, #14002b, #0b001a);
		z-index: 1;
	}

	.features__boxes1-title {
		color: #ececec;
		font-weight: 500;
		font-style: Medium;
		font-size: 30px;
		line-height: 130%;
		letter-spacing: -0.16px;
		margin-bottom: 10px;
	}
	.features__boxes1-text {
		color: #ececec;
		max-width: 458px;
		font-weight: 400;
		font-style: Regular;
		font-size: 10px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-bottom: 10px;
	}
	.features__boxes1-button {
		border: none;
		background-color: transparent;
		color: #ffffff;
		text-decoration: underline;
	}

	.feautures__boxes2 {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 70px 60px 60px;
		border-radius: 26px;
		background: linear-gradient(135deg, #14002b, #0b001a);
		z-index: 1;
	}
	.features__boxes2-title {
		color: #ececec;
		font-weight: 500;
		font-style: Medium;
		font-size: 30px;
		line-height: 130%;
		letter-spacing: -0.16px;
		margin-bottom: 10px;
	}
	.features__boxes2-text {
		color: #ececec;
		max-width: 458px;
		font-weight: 400;
		font-style: Regular;
		font-size: 10px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-bottom: 10px;
	}
	.features__boxes2-button {
		border: none;
		background-color: transparent;
		color: #ffffff;
		text-decoration: underline;
	}
}

@media (max-width: 1102px) {
	.header__container {
		width: 100%;
		padding: 15px 20px;
		justify-content: space-between;
		align-items: center;
	}

	.header__item {
		display: none;
	}

	.header__logo {
		margin-right: 300px;
	}

	.header__btn1,
	.header__btn2 {
		display: block;
	}

	.hamburger {
		display: none;
	}
	.trust {
		background-color: #0b0121;
		padding-top: 40px;
		padding-bottom: 17px;
	}
	.trust__container {
		padding-left: 388px;
		padding-right: 388px;
	}

	.trust__text {
		max-width: 320px;
		color: #ceccd3;
		font-weight: 300;
		font-size: 14px;
		line-height: 135%;
		margin-bottom: 25px;
	}
	.trust__logos {
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	.feautres {
		background-color: #0b0121;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.feautres__container {
		padding-left: 120px;
		padding-right: 120px;
	}

	.feautres__title {
		font-size: 40px;
		line-height: 120%;
		margin-bottom: 20px;
	}

	.feautres__text {
		font-size: 10px;
		line-height: 150%;
		margin-bottom: 60px;
	}

	.feautres__boxes {
		flex-direction: column;
	}

	.features__boxes1 {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 70px 60px 60px;
		border-radius: 26px;
		background: linear-gradient(135deg, #14002b, #0b001a);
		z-index: 1;
	}

	.features__boxes1-title {
		color: #ececec;
		font-weight: 500;
		font-style: Medium;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: -0.16px;
		margin-bottom: 10px;
	}
	.features__boxes1-text {
		color: #ececec;
		max-width: 458px;
		font-weight: 400;
		font-style: Regular;
		font-size: 8px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-bottom: 10px;
	}
	.features__boxes1-button {
		border: none;
		background-color: transparent;
		color: #ffffff;
		text-decoration: underline;
	}

	.feautures__boxes2 {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 70px 60px 60px;
		border-radius: 26px;
		background: linear-gradient(135deg, #14002b, #0b001a);
		z-index: 1;
	}
	.features__boxes2-title {
		color: #ececec;
		font-weight: 500;
		font-style: Medium;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: -0.16px;
		margin-bottom: 10px;
	}
	.features__boxes2-text {
		color: #ececec;
		max-width: 458px;
		font-weight: 400;
		font-style: Regular;
		font-size: 8px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-bottom: 10px;
	}
	.features__boxes2-button {
		border: none;
		background-color: transparent;
		color: #ffffff;
		text-decoration: underline;
	}
}

@media (max-width: 970px) {
	.header__container {
		width: 100%;
		padding: 20px 20px;
		justify-content: space-between;
		align-items: center;
	}

	.features__boxes1 {
		margin-bottom: 40px;
	}

	.header__logo {
		width: 40px;
		height: 40px;
	}

	.header__btn1,
	.header__btn2 {
		display: block;
		padding: 10px 18px;
	}

	.trust__container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.trust__text {
		max-width: 400px;
		font-size: 14px;
		margin-bottom: 20px;
	}

	.trust__logos {
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}
}

@media (max-width: 650px) {
	.header__btn1,
	.header__btn2 {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.header__logo {
		width: 36px;
		height: 36px;
	}
}

@media screen and (max-width: 825px) {
	.hamburger {
		display: block;
	}

	.header__btn1,
	.header__btn2 {
		display: none;
	}

	.close__hamburger {
		display: block;
	}
}
